<div class="Blurb">
  I'm<span class="Blurb__name"> John Amadeo</span>, a Computer Science major at Yale. I've worked on
  
  {% assign nextToLastItemTh = site.data.portfolioItems.portfolioItems.size | minus: 1 %}

  {% for item in site.data.portfolioItems.portfolioItems %}
    <a href="#{{ item.galleryItemId }}">{{ item.blurbText }}</a>    
    {% if forloop.index < nextToLastItemTh %}
      , 
    {% elsif forloop.index == nextToLastItemTh %}
      , and
    {% endif %}
  {% endfor %}
  
  . I'm passionate about building software that solves problems and brings people joy.
</div>